@charset "UTF-8";
	* { 
		margin: 0px;
		padding: 0px;
	}
	
	#header {
		width: 100%;
		height: 60px;
		border-bottom: 1px solid #d2d2d2;
		background-color: #f3f3f3;
	}
	
	#title {
		margin: 0 auto;
		text-align: center;
		padding-top: 20px;
		font-weight: bold;
		font-size: 1.3em;
	}
	.blue_text{
		color:#88a2c3;
	}
	.brown_text{
		color:#693800;
	}
	/*------------------- Header End -------------------*/
	

	/*---------------- Contents Start---------------*/
	#body {
		width: 100%;
		height: 1502px;
		margin: 0 auto;
	}
	#body_wrap {
		width:460px;
		height: 1502px;
		margin: 0 auto;
	}
	#content {
		margin-top: 70px;
		width: 460px;
		height: 236px;
		padding: 32px 13px;
		margin: 0 auto;
	}
	#join {
		margin-top: 11px;
		width: 460px;
		height: 490px;
		margin: 0 auto;
	}
	.join_form {
		width: 460px;
		height: 54px;
		margin-top: 13px;
	}
	.birthfit{
		width: 58.739%;
		float: left;
	}
	.genderfit {
		float: right;
		border: 1px solid #e0e0e0;
	}
	.genderfit >ul {
		width: 170px;
		height: 52px;
		display: block;
		margin-bottom: 0px;
	}
	.genderfit > ul >li {
		width: 50%;
		float :left;
		list-style: none;
	}
	input[type="text"], input[type="password"] {
		width: 100%;
	    height: 54px;
		padding: 18px 15px 17px;
 		font-size: 16px;
  		-webkit-appearance: none;
  		border-radius: 0;
  		box-sizing: border-box;
  	  	border: 1px solid #dadada;
  	  	background: transparent;
	}
	.fitwrap{
		width: 460px;
		height: 54px;
	}
	#mobile{
    	width: 31.232%;
    	height: 54px;
    	float: left;
	}
	.phonefit {
		width: 290px;
		height: 54px;
		float: right;
	}
	.caption{
		width: 480px;
		height: 18px;
		margin: 20px 0px 10px;
	}
	.pw_select_wrap{
		width: 450px;
		height: 25px;
		margin : 20px 5px 0px 5px;
	}
	.pw_select {
		font-size: 1.2em;
	}
	#direct{
		float:left;	
	}
	#auto {
		float: right;
	}
	#password {
		
	}

	#all_agree{
		width:458px;
		height:50px;
    	padding: 10px;
    	border: 1px solid #dadada;
    	line-height: 30px;
	}
	#all_agree > span {
		font-size: 1.5em;
	}
	.agree_text1 {
		width: 460px;
		height: 66px;
		padding-right: 17px;
		margin-top: 10px;
	}
	.agree_text1 > span {
		font-size: 0.9em; 
	}
	.agree_title {
		width: 460px;
		height: 48px;
		padding-top: 28px;
	}
	.agree_title > p {
		font-weight: bold;
		font-size: 1.1em;
		float: left;
		margin-bottom: 0px;
	}
	.agree_title > span {
		font-size:0.8em;
		color : gray;
		font-weight: bold;
	}
	.agree_wrap{
		width:460px;
		height: 154px;
		margin-top: 13px;
	}
	.check {
		width: 460px;
		height: 25px;
		margin-bottom: 10px;
	}
	.check1 {
		width:460px;
		height: 40px;
		margin-bottom: 10px;
	}
	.check_text {
		font-size: 1.2em;
		margin-bottom: 0px;
	}
	.agree_wrap > span {
		font-size: 0.9em;
	}
	.ad_wrap {
		width: 460px;
		height: 63px;
		margin-top: 13px;
	}
	.text_wrap{
		width: 460px;
		height: 88px;
		padding-right: 17px;
		margin-top:10px;
	}
	.text_wrap >span {
		font-size: 0.95em;
		float: left;
		
	}
	#join_button{
		width:460px;
		height: 54px;
		margin: 0 auto;
	}
	#finish {
		width: 100%;
		height: 100%;
		font-size: 1.3em;
		
	}
	
	
	.hide {
    	overflow: hidden;
    	display: block;
   		width: 1px;
    	height: 1px;
    	margin: -1px 0 0 -1px;
    	font-size: 0;
    	line-height: 0;
    	opacity: 0;
	
	
	