@charset "UTF-8";

	* { 
		margin: 0px;
		padding: 0px;
	}
	
	#header {
		width:100%;
		height: 155px;
		top:0px;
	}
	
	#header_wrap {
		width: 1100px;
		height : 78px;
		margin: 0 auto;
		top:0px;
	}
	#header_logo {
		font-size:1.6em;
		width: 409px;
		height: 78px;
		margin: 0 auto;
		text-align: center;
		display: table;
    	vertical-align: top;
	}
	#logo_a {
		display: table-cell;
		width: 409px;
    	height: 78px;
    	margin: 0 auto;
		vertical-align: middle;
	}
	#logo_img{
		width: 166px;
		top:0px;
	}
	
	#header_nav {
		width: 100%;
		height: 77px;
	}
	#nav_wrap {
		width: 1100px;
		height: 43px;
		margin: 0 auto;
		
	}
	
	#nav_menu {
		height:44px;
		padding-top:6px;
		padding-bottom:4px;
		text-align: center;
		margin: 0 auto;
		border-bottom: 1px solid #fff;
	}
	#nav_menu >ul {
		vertical-align: middle;
		text-align: center;
		margin-left: 280px;
	}
	
	#nav_menu >ul >li {
		float: left;
		list-style: none;
		margin-right: 50px;
		line-height: 35px;
	}
	#nav_menu a {
		text-decoration: none;
		color: black;
		
	}
	
	/*------------------- Header End -------------------*/
	/*--------------- Content Start-------------*/
		
	.content {
		width: 100%;
	}
	.content_wrap {
		height: 500px;
		margin: 0 auto;
		padding: 0 7%;
	}
	.sitemap_wrap{
		padding:80px 0px;
    	height: 500px;
    	border: 40px solid #eee;
    	background-color: #fff;
    	text-align: center;
    	margin: 0 auto; 
	}
	.sitemap_in{
		overflow: hidden;
		height: 100%;
	}
	.map_box{
		padding-bottom: 5.5%;
		position: relative;
	}
	.menu {
		float:left;
    	vertical-align: top;
    	width: 25%;
    	padding: 0 0 0 5%;
    	margin-left: -0.2em;
	}
	h2 {
		display: block;
    	font-size: 2em;
    	margin-block-start: 0.83em;
    	margin-block-end: 0.83em;
    	margin-inline-start: 0px;
    	margin-inline-end: 0px;
    	font-weight: bold;
	}
	.menu a {
		font-size: 0.7em;
		color: #999;
		float: left;
	}
	.menu li {
		list-style: none;
		color : #999;
		text-align: left;
		margin-bottom: 18.5%;
	}
	.map_box span {
	    display: block;
    	position: absolute;
    	top: 0;
    	width: 1px;
    	height: 100%;
    	border-left: 1px solid #ddd;
	}
	.line1{
		left:20%;
	}
	.line2{
		left:40%;
	}
	.line3{
		left:60%;
	}
	.line4{
		left:80%;
	}
	
	
	
	
	
		/*----------- Content End --------------*/
	
		/*----------------- Footer Start -----------------*/
	
	#footer {
		width: 100%;
		height: 134px;
		margin-top: 80px;
		padding-bottom:60px;
		border-top: 1px solid gray;
	
	}
	#footer_wrap {
		width: 1100px;
		height: 73px;
		margin: 0 auto;
	
	}
	#footer_info{
		height:47px;
		padding-top: 15px;
		padding-bottom: 10px;
		border-bottom: 1px solid gray;
	}
	#footer_info > ul {
		float:left;
	}
	#footer_info > ul >li{
		list-style: none;
		float: left;
		margin-right: 18px;
		color: gray;
		font-size: 0.8em;
		line-height: 18px;
		
	}
	#footer_info a {
		text-decoration: none;
		color: gray;
		font-size: 0.8em;
	}
	
	#footer_etc {
		height: 25px;
		padding-top: 10px;
	
	}
	#footer_text {
		font-size: 0.8em;
		color: gray;
		float: left;
	}
	
	
	
	#footer_list >ul {
		margin-left: 30px;
		float: left;
	}

	#footer_list > ul >li{
		list-style: none;
		float: left;
		margin-right: 18px;
		font-size: 0.8em;
	}
	#footer_list a{
		text-decoration: none;
		color: gray;
		
	}
	#footer_img_wrap{
   	 	position: relative;
	}
	#footer_images {
   		position: absolute;
    	top: -43px;
    	right: 128px;
    	width: 52px;
	}